<center>
    <h1>Lassie - Learning Assistant</h1>
    <%= link_to image_tag("lassie.png", :size => "512x512"), "http://m.me/ai.lassie" %></br>
    <%= link_to "Quero aprender!", "http://m.me/ai.lassie", class:"btn btn-info btn-lg"%>
</center>